---

const { variant } = Astro.props

---

<div class=`icon ${variant}`>
    <svg id="bag" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 10V5.47214C8 3.95705 8.85601 2.572 10.2111 1.89443V1.89443C11.3373 1.33137 12.6627 1.33137 13.7889 1.89443V1.89443C15.144 2.572 16 3.95705 16 5.47214V10M4.88581 6H19.1142C20.1731 6 21.0486 6.82543 21.1107 7.88256L21.8754 20.8826C21.943 22.0313 21.0296 23 19.8789 23H4.1211C2.97036 23 2.05698 22.0313 2.12456 20.8826L2.88926 7.88256C2.95145 6.82543 3.82686 6 4.88581 6Z" stroke="#2B2433" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <svg id="instagram" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_2019_1549)">
            <path d="M6.6075 1.30701H17.3925C20.3201 1.30701 22.693 3.68019 22.693 6.60801V17.392C22.693 20.3197 20.3197 22.693 17.392 22.693H6.608C3.68028 22.693 1.307 20.3197 1.307 17.392V6.60801C1.307 3.68019 3.67989 1.30701 6.6075 1.30701Z" stroke="#2B2433" stroke-width="2" stroke-miterlimit="10"/>
            <path d="M12 17.645C15.1176 17.645 17.645 15.1176 17.645 12C17.645 8.88235 15.1176 6.355 12 6.355C8.88235 6.355 6.355 8.88235 6.355 12C6.355 15.1176 8.88235 17.645 12 17.645Z" stroke="#2B2433" stroke-width="2" stroke-miterlimit="10"/>
            <path d="M18.8545 6.355C19.5225 6.355 20.064 5.81349 20.064 5.1455C20.064 4.47752 19.5225 3.936 18.8545 3.936C18.1865 3.936 17.645 4.47752 17.645 5.1455C17.645 5.81349 18.1865 6.355 18.8545 6.355Z" fill="#2B2433"/>
            </g>
            <defs>
            <clipPath id="clip0_2019_1549">
            <rect width="24" height="24" fill="white"/>
            </clipPath>
            </defs>
    </svg>  
    <svg id="tiktok" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_2019_1548)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4 0H16V1.6C16 3.29739 16.6743 4.92525 17.8745 6.12548C19.0747 7.32572 20.7026 8 22.4 8V9.6C21.1579 9.601 19.9326 9.31227 18.8216 8.75677C17.7106 8.20127 16.7445 7.39431 16 6.4V17.6C16 18.8658 15.6246 20.1032 14.9214 21.1556C14.2182 22.2081 13.2186 23.0284 12.0492 23.5128C10.8797 23.9972 9.5929 24.124 8.35142 23.877C7.10994 23.6301 5.96957 23.0205 5.07452 22.1255C4.17946 21.2304 3.56992 20.0901 3.32297 18.8486C3.07603 17.6071 3.20277 16.3203 3.68717 15.1508C4.17157 13.9814 4.99187 12.9818 6.04435 12.2786C7.09682 11.5754 8.3342 11.2 9.6 11.2V12.8C8.65065 12.8 7.72262 13.0815 6.93326 13.6089C6.14391 14.1364 5.52868 14.886 5.16538 15.7631C4.80208 16.6402 4.70702 17.6053 4.89223 18.5364C5.07744 19.4675 5.53459 20.3228 6.20589 20.9941C6.87718 21.6654 7.73246 22.1226 8.66356 22.3078C9.59467 22.493 10.5598 22.3979 11.4369 22.0346C12.314 21.6713 13.0636 21.0561 13.5911 20.2667C14.1185 19.4774 14.4 18.5493 14.4 17.6V0Z" fill="#2B2433"/>
        </g>
        <defs>
        <clipPath id="clip0_2019_1548">
        <rect width="24" height="24" fill="white"/>
        </clipPath>
        </defs>
    </svg>
</div>

<style>

    .icon {
        width: 1.5rem;
    }

    svg {
        display: none;
    }

    .bag #bag, .instagram #instagram, .tiktok #tiktok {
        display: block;
    }

    /* COLOURS */

    #bag path {
        stroke: var(--icon-bag);
    }

    #instagram path {
        stroke: var(--icon-instagram);
    }

    #tiktok path {
        fill: var(--icon-tiktok);
    }

</style>