/* IMPORTS */

@import url(reset.css);
@import url(./tokens/color.css);
@import url(./tokens/spacing.css);
@import url(./tokens/textstyles.css);

/* GLOBAL */

* {
  color: var(--body-color);
  font-family: var(--main-font);
}

body {
  background-color: var(--background-color);
}

header {
  position: relative;
  top: 0;
  z-index: 10000;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: opacity 0.15s ease-in-out;
}

a:hover {
  opacity: 0.5;
}

button {
  border: none;
  background-color: transparent;
}

/* LAYOUT */

main {
  display: grid;
  grid-template-columns:
    minmax(var(--side), 1fr) minmax(var(--content-min), var(--content-max))
    minmax(var(--side), 1fr);
}

main > * {
  grid-column: 2;
}

.break_main {
  grid-column: 1 / 4;
}

/* CUSTOM CURSOR */

.cursor {
  display: none;
}

@media (min-width: 960px) {
  body,
  a:hover,
  button {
    cursor: none;
  }

  .cursor {
    display: block;
    --size: 6rem;
    width: var(--size);
    height: var(--size);
    background-image: url("/illustrations/wand_cursor.svg");
    background-size: 100%;
    position: absolute;
    z-index: 1000000;
    pointer-events: none;
    transition: scale 0.15s ease-in;
  }

  .cursor_hover {
    animation-name: pulse;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }

  @keyframes pulse {
    from {
      scale: 1.1;
    }
    50% {
      scale: 1;
    }
    to {
      scale: 1.1;
    }
  }
}
