/* COLOUR | PRIMITIVES */

:root {
  /* BRAND */
  --lavender: #e2d9e5;
  --cyclamen: #eb74a3;

  /* ACCENTS */
  --thistle: #d8bfe0;
  --veronica: #a020f0;
  --veronica-60: rgba(160, 32, 240, 0.6);
  --mantis: #5ebc4e;

  /* NEUTRALS */
  --magnolia: #eae7ed;
  --magnolia-5: rgba(234, 231, 237, 0.05);
  --magnolia-10: rgba(234, 231, 237, 0.1);
  --magnolia-75: rgba(234, 231, 237, 0.75);
  --white-smoke: #f5f3f2;
  --raisin-black: #2b2433;
  --raisin-black-15: rgba(43, 36, 51, 0.15);
  --raisin-black-75: rgba(43, 36, 51, 0.75);
}

/* COLOUR | LIGHT MODE */

:root {
  /* FILLS */
  --background-color: var(--magnolia);
  --box-color: var(--lavender);
  --pinboard-a: var(--lavender);
  --pinboard-b: var(--magnolia);
  --filter-bar: var(--lavender);

  /* TEXT */
  --body-color: var(--raisin-black);
  --sub-body-color: var(--raisin-black-75);
  --heading-color: var(--raisin-black);
  --subheading-color: var(--raisin-black);

  /* OTHER */
  --stroke-color: var(--thistle);

  /* BASIC */
  --main-color: var(--raisin-black);

  /* EFFECTS */
  --dropshadow: drop-shadow(-4px 4px 2px var(--raisin-black-15));
  --card: drop-shadow(-8px 8px var(--thistle));
}

[data-theme="dark"] {
  /* FILLS */
  --background-color: var(--raisin-black);
  --box-color: var(--magnolia-10);
  --pinboard-a: var(--cyclamen);
  --pinboard-b: var(--veronica-60);
  --filter-bar: var(--cyclamen);

  /* TEXT */
  --body-color: var(--magnolia);
  --sub-body-color: var(--magnolia-75);
  --heading-color: var(--cyclamen);
  --subheading-color: var(--lavender);

  /* OTHER */
  --stroke-color: var(--veronica);

  /* BASIC */
  --main-color: var(--raisin-black);

  /* EFFECTS */
  --dropshadow: drop-shadow(-4px 4px 2px var(--raisin-black-15));
  --card: drop-shadow(-8px 8px var(--mantis));
}
